# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Node
node_modules/

# Vite build
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/
